.calendar-builder {
  display: flex;
  flex-flow: column nowrap;

  .page-content {
    flex: 1;
    display: flex;
    overflow: hidden;
    > * { padding: 8px 16px; }
  }

  .catalog-section {
    width: 500px;
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;

    .nav-tabs {
      box-shadow: 0 12px 12px rgba(255,255,255,.95);
      z-index: $zindex-top;
    }
  }
  .calendar-section {
    flex: 1;
    overflow-y: auto;
  }

  .page-footer {
    padding: 12px 24px;
    height: 68px;
    display: flex;
    border-top: 1px solid $color-grey-lighter;

    .save-btn {
      margin-left: auto;
    }
  }
}
