.calendar {
  $dayLabelHeight: 36px;
  $timeLabelWidth: 68px;
  $timeblockMinWidth: 80px;

  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: auto;

  .calendar__time-labels {
    margin: $dayLabelHeight 0 0 0;
    padding: 0 14px 0 0;
    width: $timeLabelWidth;
    display: flex;
    flex-flow: column nowrap;
    list-style: none;

    > li {
      position: relative;
      flex: 1 0 36px;
      color: $color-grey-darker;
      text-align: right;
      font-size: 1rem;
      vertical-align: middle;
    }
    > li:nth-child(even) {
      color: $color-grey;
    }
  }

  .calendar__days {
    position: relative;
    height: 100%;
    min-width: 450px;
    flex: 1;
  }
  .calendar__day-labels {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    list-style: none;
    > li {
      flex: 1 0 $timeblockMinWidth;
      text-align: center;
      border-left: 1px solid $color-grey-lighter;
    }
  }

  .calendar__item {
    position: absolute;
    padding: 8px;
    min-width: $timeblockMinWidth;
    background: rgba(255,255,255,.5);
    border: 1px solid $color-grey;
    border-left: 3px solid $color-blue;
    overflow: hidden;
    animation: .25s ease CALENDAR_ITEM_IN;

    &.has-conflict { border-color: darken(red, 10%); }
    &.has-conflict .calendar__item-title { color: darken(red, 10%); }
  }
  .calendar__item-title {
    // @include overflow-ellipsis();
    white-space: normal;
    color: $color-blue;
    font-size: .8rem;
  }
}

@keyframes CALENDAR_ITEM_IN {
  from {
    opacity: 0;
    transform: scale(.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
